<!DOCTYPE html>
<html id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->

<head>
    <title>Projeto TDD com Upload</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>

    <!-- Fix for old browsers -->
    <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
    <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/controllers.js"></script>

    <style>
        .my-drop-zone {
            border: dotted 3px lightgray;
        }

        .nv-file-over {
            border: dotted 3px red;
        }

        /* Default class applied to drop zones on over */
        .another-file-over-class {
            border: dotted 3px green;
        }

        html, body {
            height: 100%;
        }
    </style>

</head>

<body>
<div class="container">

    <div class="row" ng-controller="UploadController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

        <form class="col">
            <h2>Cadastro/ atualização de cadastro de documentos</h2>
            <div class="form-group">
                <label for="id">ID</label>
                <input class="form-control" type="text" id="id" value="{{document.id}}" readonly />
            </div>
            <div class="form-group">

                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" ng-model="document.name" placeholder="Digite seu nome">
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="saveDocument()">
                <span class="glyphicon glyphicon-save"></span> Salvar
            </button>
            <div class="form-group">
        </form>

        <div class="col-md-3">

            <h3>Selecione os arquivos</h3>
            <input type="file" id="input-select-file" style="display:none;" nv-file-select="" uploader="uploader"
                   multiple/>
            <button onclick="document.getElementById('input-select-file').click();" class="btn btn-success btn-s">
                <span class="glyphicon glyphicon-file"></span>Escollher arquivos..
            </button>

        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Fila de upload</h3>
            <p>Tamanho da fila: {{ uploader.queue.length}}</p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Nome</th>
                    <th ng-show="uploader.isHTML5">Tamanho</th>
                    <th ng-show="uploader.isHTML5">Progresso</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name}}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remover
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Progresso da fila:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload todos
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                        ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel todos
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove todos
                </button>
            </div>

        </div>

    </div>

    <div class="row" ng-controller="FileController">
        <h3>Arquivos armazenados</h3>
        <table class="table">
            <thead>
            <tr>
                <th width="50%">Nome</th>
                <th>Tamanho</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in files">
                <td><strong>{{ item.originalName}}</strong></td>
                <td nowrap>{{ item.byteSize / 1024 / 1024|number:2 }} MB</td>
                <td nowrap>
                    <a type="button" class="btn btn-success btn-xs" ng-href="{{pathDownload(item)}}">
                        <span class="glyphicon glyphicon glyphicon-download"></span> Download
                    </a>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeFile(item)">
                        <span class="glyphicon glyphicon-trash"></span> Remover
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>
